.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}