.aboutMeText {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: large;
}

li {
  list-style-type: disc;
}

br {
  margin-top: 5%;
  margin-bottom: 5%;
  color:white;
}

.skills {
  display: block;
  justify-content: center;
}

.title {
  border-bottom: solid black ;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.list {
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center !important;
}